parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     project
    database_user:     ~
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       smtp.gmail.com
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       465 or 587
    mailer_encryption: ssl

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
