parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     project
    database_user:     ~
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       smtp.gmail.com
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       465 or 587
    mailer_encryption: ssl

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    facebook_app_id:            1408786076053993
    facebook_app_secret_key:    0ee1cb56352772741fc431312ab9d8cc
    google_client_id:           525200806910-cglpfqp9slrtdlda1pa9a0pkfl5uahcj.apps.googleusercontent.com
    google_client_secret:       ScDWvvE7vEnBelYvwcULMLGW
